.headerContainer {
  height: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: static;

  @media screen and (max-width: 800px) {
    height: 3.75rem;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
  }
}

.logoContainer {
  height: 100%;
  width: 15rem;
  padding: 1rem 1.25rem 1.25rem 1.25rem;
  display: flex;
  gap: 1rem;

  @media screen and (max-width: 800px) {
    width: 3.125rem;
    padding: 0rem;
    margin-bottom: 1.125rem;
  }
}

.logoContainer span {
  padding-top: 0.625rem;
  font-size: 1.125rem;

  @media screen and (max-width: 800px) {
    visibility: hidden;
  }
}

.optionsContainer {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.625rem;
  font-size: 1.125rem;

  @media screen and (max-width: 800px) {
    width: 80%;
    font-size: 0.675rem;
  }
}

.optionsContainer span {
  width: 100%;
  height: 100%
}

.optionsLink {
  padding: 0.75rem 1rem;
  font-weight: bolder;
  cursor: pointer;
}

.optionsLink:hover {
  transform: scale(1.1) 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  color: blueviolet
}